<?xml version="1.0" encoding="utf-8" ?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://raw.github.com/sebastianbergmann/phpunit/master/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="tests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>

    <php><!--
        <env name="FTP_HOST" value="" />
        <env name="FTP_PORT" value="" />
        <env name="FTP_USER" value="" />
        <env name="FTP_PASS" value="" />
        <env name="INVALID_USER" value="" />
        <env name="INVALID_PASS" value="" />
        <env name="REFUSE_PORT" value="" />
        <env name="NEVER_PORT" value="" />
    --></php>

</phpunit>
