<?xml version="1.0" encoding="utf-8" ?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://raw.github.com/sebastianbergmann/phpunit/master/phpunit.xsd"
	bootstrap="bootstrap.php"
>
	<testsuites>
		<testsuite name="tests">
			<directory>./</directory>
		</testsuite>
	</testsuites>
		
	<filter>
		<whitelist>
			<directory suffix=".php">../lib/</directory>
		</whitelist>
	</filter>
	
	<php>
		<const name="FTP_HOST" value="" />
		<const name="FTP_PORT" value="" />
		<const name="FTP_USER" value="" />
		<const name="FTP_PASS" value="" />
		
		<const name="INVALID_USER" value="" />
		<const name="INVALID_PASS" value="" />
		
		<const name="REFUSE_HOST" value="" />
		<const name="REFUSE_PORT" value="" />
		
		<const name="HTTP_HOST" value="" />
		<const name="HTTP_PORT" value="" />
	</php>
</phpunit>
